*{
    box-sizing: border-box;
}

*:focus {
    outline:none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

a:focus,
button:focus,
input:focus,
input:active,
textarea:focus,
select:focus,
.form-control:focus {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

a:focus {
    color: #73C124 !important;
}

select:focus {
    border: 1px solid #ddd !important;
}

input:focus, textarea:focus {
    border: 0.5px solid #73C124 !important;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    color: #2F2E2E;
    letter-spacing: 0.02em !important;
    background: url('../images/cs-background-img.png') no-repeat center center fixed;
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: lighten;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* Navbar Starts Here */

.above-nav {
    font-size: 0.9em;
    font-weight: bold;
    text-align: right;
    margin: 0;
    padding: 9px 50px;
    padding-left: 0px;
    padding-top: 6px;
    background: #FAFAFA;
}

.navbar{
    width: 100%;
    padding: 3px 50px;
    padding-bottom: 3px;
    background: transparent;
    box-shadow: 0px 2px 7px rgba(79, 79, 79, 0.03);
}

.navbar .logo{
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar .logo{
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar .logo img{
    width: 35px;
    height: 35px;
    margin-right: 5px;
}

.navbar .logo p{
    margin: 0;
    padding-top: 2px;
    font-size: 1em;
}

.navbar .mr-auto {
    margin-left: 0px;
}

.navbar .mr-right{
    margin-right: 0px;
    margin-top: -2px;
    margin-bottom: 0px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 0;
    padding-right: 0;
}

.navbar .mr-right li{
    margin-right: 12px;
    margin-left: 12px;
    margin-top: 15px;
}

.navbar .mr-right li .links {
    color: #2F2E2E;
    font-size: 0.94em;
}
.navbar .mr-right li .links.active {
    color: #73C124;
    font-weight: bold;
}

.navbar .mr-right li .links.help-link {
    margin-right: 100px;
}

.navbar .mr-right li.login {
    margin-bottom: 14px;
}

.navbar .mr-right li .links.sign-up {
    padding: 10px 25px;
    color: #fff;
    border-radius: 3px;
    background: #73C124;
}

.navbar .mr-right li .links:hover{
    color: #73C124;
    transition: all .1s ease-in-out;
    text-decoration: none;
}
.navbar .mr-right li .links.sign-up:hover {
    color: #fff;
}

.navbar .mr-right .nav-item.dropdown .help {
    color: #4B575C;
    font-size: 0.94em;
    font-weight: 400;
    margin: 0;
    margin-top: -7px;
}
.navbar .mr-right .nav-item.dropdown .help:hover {
    color: #9A6BF2;
    transition: all .1s ease-in-out;
}

.navbar .mr-right .nav-item.dropdown i {
    font-size: 0.8em;
    margin-left: 8px;
    color: #CCCFD4;
}

.navbar .mr-right .nav-item.dropdown.user {
    margin-right: 0px;
}

.navbar .mr-right .nav-item.dropdown .username {
    color: #4B575C;
    font-size: 0.94em;
    font-weight: 400;
    margin: 0;
    margin-top: -10px;
}
.navbar .mr-right .nav-item.dropdown .username:hover {
    color: #9A6BF2;
    transition: all .1s ease-in-out;
}

.navbar .mr-right .nav-item.dropdown img {
    width: 36px;
    margin-top: -2px;
    margin-right: 5px;
}

.nav-item.dropdown .dropdown-menu {
    padding: 0;
}

.nav-item.dropdown .dropdown-menu hr {
    margin-top: 20px;
    margin-bottom: 0px;
}

.nav-item.dropdown .dropdown-menu .dropdown-item {
    font-size: 0.9em;
    padding: 6px 15px;
    padding-bottom: 7px;
}

.nav-item.dropdown .dropdown-menu .dropdown-item:focus {
    background: #fff !important;
    color: #9A6BF2 !important;
}

.open-nav{
    display: none;
}


/* Main Page Starts Here */

.main{
    margin: 0;
    padding: 0;
}

.main-page-content{
    padding: 50px 50px;
    padding-bottom: 0;
}

.section {
    padding: 0px 50px;
}

.section-one {
    background-image: url(../images/header-back.png);
    width: 100%;
    height: 500px;
    margin-top: -60px;
}

.section-one .inner {
    padding-top: 150px;
    width: 50%;
}

.section-one .head-text {
    font-size: 2.5em;
    line-height: 50px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 32px;
}

.section-one .sub-head-text {
    font-size: 1.2em;
    color: #fff;
}

.tabs {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 25px;
    margin-top: -35px;
}

.tabs .tab {
    display: flex;
    padding: 15px 15px;
    background: #FFFFFF;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.06);
    border-radius: 6px;
}

.tabs .tab img {
    margin-right: 15px;
}
.tabs .tab p {
    font-size: 1em;
    font-weight: bold;
    color: #2F2E2E;
    margin: 0;
    margin-top: 7px;
}

.section-two {
    width: 100%;
    margin-top: 90px;
}

.section-two .info-text {
    font-size: 1.05em;
    font-weight: bold;
    margin-bottom: 25px;
}

.section-two .cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
}

.section-two .cards .card {
    position: relative;
    color: #2F2E2E;
    border: none;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.06);
    border-radius: 6px;
}
.section-two .cards .card:hover {
    text-decoration: none;
}

.card .card-tag {
    position: absolute;
    top: 10px;
    left: 0;
    margin: 0;
    font-size: 0.9em;
    padding: 7px 30px 7px 15px;
    text-align: left;
    background: #FFFFFF;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.08);
    border-radius: 0px 100px 100px 0px;
}

.card .card-img {
    height: 190px;
    width: 100%;
    border-radius: 6px 6px 0px 0px;
    object-fit: cover;
    object-position: center center;
}

.card .card-inn {
    padding: 20px;
    padding-bottom: 15px;
}

.card-inn h3 {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 5px;
}

.card-inn .period {
    font-size: 0.9em;
    margin-bottom: 18px;
}

.card-inn .return-img {
    width: 13px;
    height: 12px;
    margin-right: 10px;
}
.card-inn .returns {
    color: #76787A;
    font-size: 0.9em;
}

.card-inn .percent-div {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    margin-bottom: 20px;
}

.percent-div .percent {
    background: rgba(243, 229, 212, 0.2);
    border-radius: 3px;
    color: #BB8D53;
    margin: 0;
    padding: 2px 10px;
    font-size: 0.9em;
    font-weight: bold;
}

.card-inn hr {
   background: #E9EFF5;
   margin-bottom: 10px;
}

.card-inn .location-img {
    width: 14px;
    height: 14px;
    margin-right: 10px;
    margin-top: -1px;
}
.card-inn .state {
    font-size: 0.95em;
}

.section-two .see-more {
    margin: 0;
    margin-top: 25px;
    text-align: right;
    color: #66B01B !important;
    font-weight: bold;
}
.section-two .see-more a {
    color: #66B01B !important;
}
.section-two .see-more a:hover {
    text-decoration: none;
}

.section-three {
    width: 100%;
    margin-top: 85px;
    background: linear-gradient(180deg, #66B01B 0%, #99E84A 100%);
}

.section-three h3 {
    text-align: center;
    font-size: 1.4em;
    font-weight: bold;
    color: #fff;
    padding-top: 50px;
    margin-bottom: 24px;
}

.section-three hr {
    background: #fff;
    width: 50px;
    height: 4px;
    margin-top: 0;
    margin-bottom: 0;
}

.section-three .why-cards {
    width: 70%;
    margin: 0 auto;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 80px;
    margin-top: 80px;
    padding-bottom: 50px;
}

.why-cards .why-card img {
    margin-bottom: 30px;
}

.why-cards .why-card h5 {
    text-transform: uppercase;
    margin-bottom: 17px;
    font-weight: bold;
}

.section-four {
    width: 100%;
    margin-top: 90px;
}

.section-four h3 {
    text-align: center;
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 24px;
}

.section-four hr {
    background: #81D32F;
    width: 50px;
    height: 4px;
    margin-top: 0;
    margin-bottom: 0;
}

.section-four .swiper {
    height: 300px;
    background: #eee;
    margin-top: 60px;
    margin-bottom: 60px;
}

.section-five {
    width: 100%;
    margin-top: 90px;
    padding-top: 70px !important;
    padding-bottom: 75px !important;
    background: #FAFAFA;
    padding: 85px;
}

.section-five h3 {
    text-align: center;
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 24px;
}

.section-five hr {
    background: #81D32F;
    width: 50px;
    height: 4px;
    margin-top: 0;
    margin-bottom: 0;
}

.section-five .patner-div {
    display: flex;
    justify-content: space-between;
    padding-top: 85px;
    padding-bottom: 20px;
}

.section-six {
    width: 100%;
    margin-top: 90px;
    padding: 0px 180px;
    margin-bottom: 90px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
}

.section-six h3 {
    font-size: 1.9em;
    margin-bottom: 24px;
}

.section-six .right {
    text-align: center;
}

.section-seven {
    width: 100%;
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    background: #FAFAFA;
}

.section-seven p {
    margin: 0;
}

.section-seven .right {
    width: 100%;
}

.section-seven input {
    font-family: 'Lato';
    background: #FFFFFF;
    border: none;
    border-radius: 6px;
    padding: 12px 10px !important;
}

.section-seven .subscribe-btn {
    padding: 6px 24px;
    font-family: 'Lato';
    background: #73C124;
    color: #FFFFFF;
    border: none;
    border-radius: 6px;
}




/* Footer Starts Here */

footer{
    margin: 0;
    padding: 0 50px;
    padding-top: 50px;
    padding-bottom: 20px;
    background: #5A6D47;
    color: #fff;
}

footer .row, footer .col-md-6, footer .columns{
    padding: 0;
    margin: 0;
}

footer .columns-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

footer hr{
    margin: 30px 0px;
    margin-bottom: 20px;
}

footer .columns .footer-link-header-text{
    font-size: 1em;
    letter-spacing: 0.02em;
    margin-bottom: 15px;
}

footer .columns .footer-links p {
    margin-bottom: 12px;
}

footer .columns .footer-links .link{
    color: #dadada;
    font-size: 0.9em;
    letter-spacing: 0.02em;
}

footer .columns .footer-links .link:hover{
    color: #fafafa;
}

footer .columns .links-icon-row{
    display: flex;
}

footer .columns .links-icon-row .link{
    font-size: 1.9em;
    margin-right: 25px;
    color: #dadada;
}

footer .columns .links-icon-row .link i.twitter:hover{
    color: #55ACEE;
}
footer .columns .links-icon-row .link i.instagram:hover{
    color: #125688;
}
footer .columns .links-icon-row .link i.facebook:hover{
    color: #3B5998;
}
footer .columns .links-icon-row .link i.youtube:hover{
    color: #bb0000;
}

footer .footer-nav{
    display: flex;
    position: relative;
}

footer .footer-nav .copyright-text{
    margin: 0;
    font-size: 0.9em;
    letter-spacing: 0.02em;
}

footer .footer-nav .right-navs{
    position: absolute;
    right: 0;
}

footer .footer-nav .right-navs .right-nav-link{
    margin-right: 40px;
    color: #dadada;
    font-size: 0.9em;
    letter-spacing: 0.02em;
}

footer .footer-nav .right-navs .right-nav-link:hover{
    color: #fafafa;
}

footer .footer-nav .right-navs .right-nav-link-end{
    margin-right: 0px;
}

/* Footer Ends Here */



/*Responsive Page Starts Here*/

@media screen and (max-width: 3000px){
    .section {
        padding: 0px 350px;
    }
}

@media screen and (max-width: 1900px){
    .section {
        padding: 0px 250px;
    }
}

@media screen and (max-width: 1650px){
    .section {
        padding: 0px 200px;
    }
}

@media screen and (max-width: 1550px){
    .section {
        padding: 0px 150px;
    }
}

@media screen and (max-width: 1450px){
    .section {
        padding: 0px 100px;
    }
}

@media screen and (max-width: 1350px){
    .section {
        padding: 0px 50px;
    }
}

@media screen and (max-width: 1200px){
    .section-one .inner {
        width: 60%;
    }

    .tabs {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
    }
}

@media screen and (max-width: 1060px){
    .section-two .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 60px;
    }
}

@media screen and (max-width: 1050px){
    .navbar{
        padding: 7px 40px;
    }

    .navbar .mr-auto {
        margin-left: 40px;
    }

    .navbar .mr-right .nav-item.dropdown.help {
        margin-right: 0px;
    }

    .section {
        padding: 0px 40px;
    }

    footer{
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media screen and (max-width: 991px){
    .navbar{
        padding: 7px 30px;
    }

    .navbar .mr-auto {
        margin-left: 0px;
        margin-top: 20px;
        width: 50%;
    }

    .open-nav{
        display: block;
        position: relative;
        width: 30px;
        margin-left: 10px;
        transform: rotate(180deg);
    }

    .section {
        padding: 0px 30px;
    }

    footer{
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (max-width: 767px){
    .navbar{
        padding: 7px 20px;
        z-index: 7;
    }

    .navbar .mr-right{
        margin-top: 5px;
        margin-bottom: 65px;
    }

    .navbar .mr-right li{
        margin-bottom: 10px;
    }

    .section {
        padding: 0px 20px;
    }

    .tabs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }

    .section-three .why-cards {
        width: 100%;
        margin: 0 auto;
        color: #fff;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px;
        margin-top: 80px;
        padding-bottom: 50px;
    }

    footer{
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 700px){
    .section-one .inner {
        padding-top: 150px;
        width: 90%;
    }

    .section-seven {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        text-align: center;
    }

    footer .footer-nav .footer-link-remove{
        display: none;
    }
}

@media screen and (max-width: 600px){
    .navbar{
        padding: 7px 10px;
    }

    .section {
        padding: 0px 10px;
    }

    .section-two .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 25px;
    }

    footer{
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media screen and (max-width: 540px){
    .navbar .mr-auto {
        width: 90%;
    }

    .section-five .patner-div {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-gap: 20px;
        text-align: center;
    }

    .section-six {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        text-align: center;
    }

    footer .columns-row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 20px;
    }
}

@media screen and (max-width: 520px){
    .section-one .inner {
        padding-top: 110px;
        width: 98%;
    }

    .tabs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
        text-align: center;
    }

    .section-two .cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
    }

    .section-three .why-cards {
        width: 100%;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
    }
}

@media screen and (max-width: 400px){
    .navbar{
        padding: 6px 10px;
    }

    footer{
        padding: 25px 10px;
    }
}

@media screen and (max-width: 378px){
    footer .footer-nav .copyright-text{
        font-size: 0.8em;
    }

    footer .footer-nav .right-navs {
        margin-top: -3.5px;
    }

    footer .footer-nav .right-navs .right-nav-link{
        margin-right: 10px;
    }
}

@media screen and (max-width: 320px){
    footer .footer-right-column{
        width: 100%;
    }

    footer .columns-row {
        grid-template-columns: repeat(1, 1fr);
    }
}